{% extends 'base.html.twig' %}

 {% block title %}
     Connexion
{% endblock %}

{% block body %}

    <h1>Se connecter</h1>
    <form action="{{ path('security_login') }}" method="post">
        <div class="form-group">
            <label>
                <input placeholder="adresse email" required name="_username" type="text" class="form-control">
            </label>

        </div>
        <div class="form-group">
            <label>
                <input placeholder="Mot de passe" required name="_password" type="password" class="form-control">
            </label>

        </div>
        <div class="form-group">
            <button type="submit">Connexion !</button>
        </div>

    </form>
{% endblock body %}