{% extends 'base.html.twig' %}

 {% block title %}
     Connexion
{% endblock %}

{% block body %}

    <section class="body">
        <div class="Connexion">
            <br>
            <div class="Connexion-content">
                <h2>Connexion</h2>
                <div class="connexion-form">
                    <form action="{{ path('security_login') }}" method="post">
                        <span class="form-group">
                            <label class="id" for="_username">Votre identifiant</label>
                            <input placeholder="adresse email" required name="_username" type="text" class="form-control"/>
                        </span>
                        <span class="form-group">
                            <label class="mdp" for="_password">Votre mot de passe</label>
                            <input placeholder="Mot de passe" required name="_password" type="password" class="form-control"/>
                        </span>
                        <br>
                        <span class="form-group">
                            <button class="envoyerins" type="submit">Connexion !</button>
                        </span>

                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock body %}



