{% extends 'base.html.twig' %}

 {% block title %}Accueil{% endblock %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('css/accueil') }}
        {{ encore_entry_link_tags('css/app') }}
    {% endblock %}

 {% block body %}

     <section class="body">

         <div class="Accueil">

             <div class="Accueil-content">
                 <h3>Bienvenue</h3>
                 <h1>FACE BIO CARE</h1>
                 <h2>Soins</h2>
                 <h2>Diagnostic</h2>
                 <h2>Cosmetique</h2>
                 <span>
                     {% if app.user %}
                     <a href="{{ path('skin_type_user') }}" class="acc-ins">
 						 Determinez votre type de peau!
 					</a>

                     {% else %}
 					<a href="{{ path('security_inscription') }}" class="acc-ins">
 						 Inscrivez vous!
 					</a>
                     {% endif %}
 				</span>

             </div>
         </div>
         <div class="Avis">
             <h2>Les avis de nos fideles</h2>
             <div class="Avis-content">
                 <div class="tem">
                     <p>ici il faut rajouter les avis par rapport a la bdd</p></div>
                 <div class="tem">
                     <p>ici il faut rajouter les avis par rapport a la bdd</p></div>
                 <div class="tem">
                     <p>ici il faut rajouter les avis par rapport a la bdd</p></div>
             </div>

         </div>
     </section>

 {% endblock %}