

.Inscription{

    text-align: center;
    padding:50px;
}

.Inscription-content,.Connexion-content{
    background-color: #adb7e7;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px;

}
.area,.form-control{
    border-radius: 5px;
    border: none;
    text-align: center;
}


