

.Inscription{

    text-align: center;
    padding:50px;
}

.Inscription-content{
    background-color: #abcdff;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px;

}

