.Produit-content h1,.Produit-content h2,.Produit-content h3{
    color: black;
}
.Produit-content{
    padding: 100px;
    background-color: #ccc9c9;
}

.Produit-content p{
    white-space: normal;
    color: black;
    font-family: futura-pt;
    font-style: normal;
    font-size: 0.7em;
    letter-spacing: .15em;
    line-height: 1.5em;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    display: block;
}

.desc-prod{
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding: 50px;
}


.com-content{
    height: 100%;
    color: black;
    display: inline-block;
    padding: 5px;
    text-align: center;
    background-color: #bcb8b7;
    opacity: 0.5;
    border-radius: 5px;

}

.com-content a{
    text-decoration: none;
    white-space: normal;
    text-align: center;
    white-space: normal;
    float: left;
    color: black;
    text-align: center;
    padding: 10px;
    font-size: 10px;
    font-family: futura-pt;
    border-radius: 4px;
    text-transform: uppercase;
    letter-spacing: .22em;
    line-height: 1.5em;
}

.com-content a:hover{
    color: white;
}


.envoyercom:hover{
    opacity: 0.5;
}

.envoyercom{
    display: inline-block;
    background-color:transparent;
    border: solid;
    border-color: black;
    text-align: center;
    white-space: normal;
    color: black;
    font-family: futura-pt;
    font-size: 12px;
    letter-spacing: .2em;
    line-height: 2em;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
}

.id{
    text-align: center;
    resize: none;
    white-space: normal;
    color: black;
    font-family: futura-pt;
    font-size: 12px;
    letter-spacing: .2em;
    line-height: 2em;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
}



.area{
    text-align: center;
    width: 60%;
    margin-left:20% ;
    resize: none;
    height: 100%;
    display: block;
}
