{% extends 'base.html.twig' %}

{% block title %}SkinType{% endblock %}

{% block body %}
    <h1>SUPER {{ app.user.username }}</h1>

    <table class="table">
        <tbody>
            <tr>Grace à vos reponses nous avons trouvez votre type de peau :
            </tr>
            <tr>
                Vous avez une peau <b>{{ skinType.Label }}</b>
                <br>
            </tr>
            Voici une petite description de celle-ci :
            <tr>
                <td>{{ skinType.Description }}</td>
            </tr>
        </tbody>
    </table>


{% endblock %}
