{% extends 'base.html.twig' %}

{% block title %}Mon Imperfection{% endblock %}

{% block body %}
    <div class="body">
        <h2> Détails de votre Imperfection : </h2>
        {{ form_start(form) }}
        {{ form_row(form.place) }}
        {{ form_row(form.CategoryImperfection,{'label':'Type de l\'imperfection'}) }}
        <button class="envoyerins" type="submit">Valider!</button>
        {{ form_end(form) }}


    </div>

{% endblock %}
